/*Styles pour la présentation du photographe*/
*:focus {
    border: 3px solid black;
}

body {
    font-family: "DM Sans", sans-serif;
    margin: 0 auto;
    max-width: 1440px;
}
.noscroll {
    overflow: hidden;
}

.header-logo {
    padding: 0 100px;
    margin: 40px 0 50px;
}
/*Styles pour le header*/
.photograph-header {
    background-color: #FAFAFA;
    height: 300px;
    margin: 0 100px;
}

.photograph-header__row {
    display: flex;
    justify-content: space-between;
    padding: 50px;
}

.photograph-header__title {
    color: #D3573C;
    font-size: 3.8em; 
}

.photograph-header__location {
    color: #901C1C;
    font-size: 1.5em;
    margin: 16px 16px 16px 0;
}

.photograph-header__slogan {
    color: #525252;
    font-size: 1.13em;
    margin-top: 3px;
    
}
.photograph-header__image{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}

.contact-button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    align-self: center;
}

.contact-button:hover,
.contact-button:focus {
    background-color: #DB8876;
    color: black;
    cursor: pointer;
}

/*Styles pour la modale de contact*/

.background-modal {
    display: none;
    background-color: #c4c4c4;
    position: fixed;
    opacity: 0.4;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
}

#contact-modal {
    display: none;
}

dialog {
    position: absolute;
    top: 60px;
    border-radius: 5px;
    background-color: #DB8876;
    width: 669px;
    height: 880px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: 0 auto;
    box-shadow:0px 12px 12px rgb(0 0 0 / 25%);
}

.modal-header {
    display:flex;
    justify-content: space-between;
    align-items: baseline;
    width: 100%;
}

.modal-header__close-icon {
    cursor: pointer;
}

.modal-header__title {
    font-size: 3.75em;
    font-weight: normal;
    text-align: left;
    margin-bottom: 15px;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 2em;
    margin-bottom: 7px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 7px;
}

form input {
    width: 100%;
    height: 65px;
    border: none;
    border-radius: 5px;
    padding: 15px;
    font-size: 1.3em;
}

form textarea {
    width: 100%;
    height: 170px;
    padding: 15px;
    font-size: 1.3em;
}

.send-button {
    align-self: flex-start;
    margin-top: 20px;
    font-size: 1.1em;
}

/*Styles pour la section portfolio*/
.portfolio-section {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    gap: 2em;
    padding: 70px;
}

.media {
    display: flex;
    flex-direction: column;
    width: 350px;
    
}

.media__link {
    width: 100%;
    height: 300px;
    border-radius: 0.5em;
}

.media__view {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 0.5em;
}

.media__about {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #901C1C;
    font-size: 1.5em;
    padding-top: 10px;

}

.media__likes {
    display: flex;
    align-items: center;
    font-weight: 500;
}

.media__rating {
    margin: 0 6px;
}

.media__button {
    background-color: transparent;
}

/*Styles pour section aside*/
.info-section {
    background-color: #DB8876;
    padding: 20px 30px;
    height: 80px;
    width: 380px;
    border-radius: 5px;
    position:fixed;
    right: 3%;
    bottom: 0;
}

.info-section__row {
display: flex;
justify-content: space-between;
align-items: center;
font-size: 1.5em;
color: #000000;
font-weight: 500;
margin-top: 10px;
}

.info-section__rating {
    filter: brightness(0%);
}

.info-section__rating img{
    margin: 0 0 0 7px;
}

/*Styles for dropdown menu*/
.dropdown {
    display: flex;
    align-items: center;
    position: relative;
    margin: 20px 0 0 100px;
    font-weight: 700;
    font-size: 1.2em;
}

.dropdown-title {
    align-self: baseline;
    padding-top: 5px;
    font-size: 1.2em;
    margin-right: 20px;

}

.dropdown__wrapper {
    width: 170px;
    height: 170px;
}

.dropdown__button {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: #901c1c;
    border-radius: 5px;
    color: #fff;
    width: 100%;
    height: 60px;
    padding-left: 20px;
    font-weight: 700;
    position: relative;
}

.dropdown__button::after {
    content: url("../assets/icons/arrow.svg");
    position: absolute;
    right: 8px;
    top: 15px;
    width: 20px;
    height: 20px;
    transform: scale(1.3) rotate(-90deg);
    z-index: 2;
    filter: brightness(0) invert(1);
}

.dropdown__button:hover,
.dropdown__button:focus {
    background-color: #DB8876;
    color: black;
    cursor: pointer;
}


.dropdown__list {
    background-color: #901C1C;
    color: #fff;
    width: 170px;
    height: 170px;
    border-radius: 5px;
    /*display: none;*/
    display: flex; 
    flex-direction: column;
    justify-content: space-evenly;
    padding: 10px;
    position: absolute;
    top: 0;
    z-index: 2;
    overflow: hidden;
}

.dropdown__list-item {
    padding: 14px 0 14px 10px;
    position: relative;
    cursor: pointer;
}

.dropdown__list-item:not(:last-child)::after {
    content: "";
    width: 140px;
    height: 1px;
    background-color:#fff;
    position: absolute;
    left: 0;
    bottom: 1px;
}

.dropdown__list-item:first-child::before {
    content: url("../assets/icons/arrow.svg");
    position: absolute;
    right: 8px;
    top: 15px;
    width: 20px;
    height: 20px;
    transform: scale(1.3) rotate(90deg);
    filter: brightness(0) invert(1);
    z-index: 2;
}